/**
 * Style theme table (stock collection germplasm list and components).
 */

fieldset {
  clear: both;
  position: relative;
}

.stock-collection-fld {
  float: left;
  margin: 0 7px 0 0;
}

#stock-collection-fld-select-species,
.stock-collection-fld input[type=text] {
  font-size: 1.2em;
  padding: 5px;
  margin: 0;
}

#stock-collection-fld-button-add {
  margin-top: 10px;
}

.stock-collection-fld-right {
  float: right;
  font-size: 1.1em;
  margin-top: 10px;
}


/* Bulk upload area */
#stock-collection-container-bulk-upload {
  clear: both;
  display: none;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
  margin: 20px 0;
  padding: 10px 0 20px 0;
  text-align: left;
  
  -moz-box-shadow:    0 5px 7px -9px #333333;
  -webkit-box-shadow: 0 5px 7px -9px #333333;
  box-shadow:         0 5px 7px -9px #333333;
}

/* Autocomplete */
#stock-collection-fld-textfield-germplasm {
  padding: 5px;
  border: 1px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-color: #999;
  color: #333;
}

.stock-collection-autocomplete-inactive { 
  background: url(throbber-inactive.png) no-repeat right center; 
}

.ui-autocomplete-loading { 
  background: url(throbber-active.gif) no-repeat right center; 
}

.ui-menu-item a:hover {
  color: #FFFFFF;
  background-color: #0072B9;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* Germplasm table */
#stock-collection-header {
  background-color: #E7E7E7;
  font-size: 1.1em;
  height: 40px; 
  line-height: 45px;
  padding: 0 10px;
}

#stock-collection-germplasm-container {
  border: 1px solid #BEBFB9;
  clear: both;
  display: block;
  height: 320px; 
  overflow-y: scroll;
  padding: 10px; 
  position: relative;
}

#stock-collection-germplasm-container small {
  font-style: italic;
}

#stock-collection-germplasm-container table {
  border: none;
  padding: 0;
  margin: 0;
}

#stock-collection-germplasm-container tr {
 border-bottom: 1px solid #FFFFFF;
 cursor: pointer;
}

#stock-collection-germplasm-container td,
#stock-collection-germplasm-container tr {
  border: none;
}

#stock-collection-germplasm-container table td:first-child {
  width: 97%;
}

/* Wait message */
#stock-collection-wait {
  color: #840;
  font-size: 1em;
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
  height: 20px;
}