/**
 * @file
 * Style germplasm collection view.
 */

#germcollection-collection-view-container {
  position: relative;
}

#germcollection-page-fields {
  float: left;
  width: 50%;
}

#germcollection-page-fields div {
  float: left
}

#germcollection-page-context {
  float: left;
  margin-top: 1em;
  text-align: right;
  width: 50%;
}

#germcollection-page-context a {
  background: url(../images/infographics-new-window.gif) right center no-repeat;
  padding-right: 15px;
}

#germcollection-collection-table table td:first-child {
  width: 1%;
}

#germcollection-collection-table table tr {
  cursor: pointer;
}

#germcollection-collection-table table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);

  -webkit-transition: background-color 0.9s ease-out;
  -moz-transition: background-color 0.9s ease-out;
  -o-transition: background-color 0.9s ease-out;
  transition: background-color 0.9s ease-out;

  border-left: 2px solid #314355;
}

#germcollection-fld-textfield-search {
  border: 1px solid #ccc;
  color: #333333;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0;
  margin-left: 10px;
  padding: 4px;
  width: 124px;
}

#germcollection-search-submit {
  background: url('../images/icon-lens.png') no-repeat 5px 2px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/* Autocomplete */
.germcollection-autocomplete-inactive { 
  background: url(../images/throbber-inactive.png) no-repeat right center; 
}

.ui-autocomplete-loading { 
  background: url(../images/throbber-active.gif) no-repeat right center; 
}

.ui-menu-item a {
  color: #000000;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
  line-height: 1.538em;
}