/**
 * @file
 * Style germplasm collection view.
 */

#germcollection-collection-view-container {
  position: relative;
}

#germcollection-page-fields {
  float: left;
  width: 50%;
}

#germcollection-page-context {
  float: left;
  margin-top: 1em;
  text-align: right;
  width: 50%;
}

#germcollection-page-context a {
  background: url(../images/infographics-new-window.gif) right center no-repeat;
  padding-right: 15px;
}

#germcollection-collection-table table td:first-child {
  width: 1%;
}

#germcollection-collection-table table tr {
  cursor: pointer;
}

#germcollection-collection-table table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);

  -webkit-transition: background-color 0.9s ease-out;
  -moz-transition: background-color 0.9s ease-out;
  -o-transition: background-color 0.9s ease-out;
  transition: background-color 0.9s ease-out;

  border-left: 2px solid #314355;
}